@model  List<Crawler.BLL.DTO.SiteDTO>

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="before-wrapper">


    <div class="container header-centre">
        <div class="header-titles">
            Search results
        </div>
    </div>
</div>

<div class="container  main-section">
    <div class="row">
        <div class="img-result col-xs-2 vcenter">
            <img src="~/Content/Images/logo_man.png" alt="Image" >
        </div>
        <div class="col-xs-9 vcenter">
           
                <div class="header-sidebar">
                    <form action="/Home/Find" method="post" role="search" onsubmit="return validate()">
                        <div class="input-group ">
                            <input id="search" name="search" type="text" value=@ViewBag.Search class="form-control result " placeholder="New search" />
                            <span class="input-group-btn ">
                                <input type="submit" value="Search" class="btn" />
                            </span>
                        </div>
                    </form>
                </div>
                <div id="resultStatus">
                    @if (Model.Count > 0)
                    {<span>Results : @Model.Count sites</span>}
                    else
                    {<p>Sorry, no results were found.</p> }
                </div>
          
        </div>
    </div>
    <hr/>
    @foreach(var site in Model)
    {
        <div class="row ">
            <div class="col-xs-2  vcenter">
                <img src="@site.Image" alt="Image"  >
            </div>
            <div class="col-xs-9 tdl  vcenter">

                <div class="title-link"><a href="@site.Link">@site.Title</a></div>
                <div class="link-description">
                    <div class="green-link"><span style="color: green;  ">@site.Link</span></div>
                    <div class="description">@site.Description</div>
                </div>
                
            </div>

        </div>
    }


</div>
<div class="before-wrapper">
    <footer class="container col-xs-12" align="center"><h4>&copy; 2017 Search System - Test Project</h4></footer>
</div>